<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>UE - FB-AUTO + X-AUTO</title>
        <link rel="stylesheet" href="/css/home/home.css" />
    </head>
    <body>
        <!-- THE CONTAINER -->
        <div class="container">
            <!-- THE SIDEBAR -->
            <div id="sidebar">
                <!-- THE HEADER -->
                <header id="header">
                    <!-- THE SWITCHES -->
                    <section id="switches">
                        <!-- THE SWITCH LOOP -->
                        {% for type in types %}
                        <!-- THE {{ type | upper }} SWITCH -->
                        <button
                            class="switch {% if type == enview %}active{% endif %}"
                            data-switch-id="{{ type }}"
                            onclick="switchTab('{{ type }}')">
                            <i class="fa-brands fa-{{ type }}"></i>
                        </button>
                        {% endfor %}
                    </section>
                </header>

                <!-- THE TABS -->
                <section id="tabs">
                    <!-- THE TAB LOOP -->
                    {% for type in types %}
                    <!-- THE {{ type | upper }} TAB -->
                    <section class="tab {% if type != enview %}hidden{% endif %}" id="{{ type }}">
                        <h2 class="tab-heading">{{ type | upper }}</h2>
                        <button class="create-switch" onclick="openModal('{{ type }}')">Create Link</button>
                    </section>
                    {% endfor %}
                </section>
            </div>

            <!-- THE SIDEBAR TOGGLE -->
            <button id="sidebar-toggle" onclick="toggleSidebar()">
                <i class="fa-solid fa-bars"></i>
            </button>

            <!-- THE CONTENT -->
            <main id="content">
                <h2>Content</h2>
            </main>

            <!-- THE OVERLAY -->
            <div id="overlay" class="hidden"></div>
            <div id="modal-create" class="hidden">
                <h3 id="modal-heading">Create <span id="modal-heading-app"></span> Link</h3>
                <input type="text" name="type" id="app-type" class="hidden" />
                <section id="modal-fields">
                    <input type="text" name="name" id="app-name" placeholder="App Indicator" />
                    <input type="url" name="link" id="app-link" placeholder="http(s)://(www.)example.org" />
                </section>
                <section id="modal-buttons">
                    <button id="modal-button-cancel" onclick="closeModal()">Cancel</button>
                    <button id="modal-button-create" onclick="createLink()">Create</button>
                </section>
            </div>

            <!-- THE SCRIPTS -->
            <script src="/js/home/switchTab.js"></script>
            <script src="/js/home/toggleSidebar.js"></script>

            <script src="/js/home/openModal.js"></script>
            <script src="/js/home/closeModal.js"></script>

            <script src="/js/home/createLink.js"></script>
        </div>
    </body>
</html>
