<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>UE - FB-AUTO + X-AUTO</title>
        <link rel="stylesheet" href="/css/home/home.css" />
    </head>
    <body>
        <!-- THE CONTAINER -->
        <div class="container">
            <!-- THE SIDEBAR -->
            <div id="sidebar">
                <h2>Sidebar</h2>
            </div>

            <!-- THE SIDEBAR TOGGLE -->
            <button id="sidebar-toggle" onclick="toggleSidebar()">
                <i class="fa-solid fa-bars"></i>
            </button>

            <!-- THE CONTENT -->
            <main id="content">
                <h2>Content</h2>
            </main>
        </div>
    </body>
</html>
