<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>UE - FB-AUTO + X-AUTO</title>
        <link rel="stylesheet" href="/css/home/home.css" />
    </head>
    <body>
        <!-- THE CONTAINER -->
        <div class="container">
            <!-- THE SIDEBAR -->
            <div id="sidebar">
                <!-- THE HEADER -->
                <header id="header">
                    <!-- THE SWITCHES -->
                    <section id="switches">
                        <!-- THE FACEBOOK SWITCH -->
                        <button class="switch active" data-switch-id="facebook" onclick="switchTab('facebook')">
                            <i class="fa-brands fa-facebook-f"></i>
                        </button>

                        <!-- THE TWITTER SWITCH -->
                        <button class="switch" data-switch-id="twitter" onclick="switchTab('twitter')">
                            <i class="fa-brands fa-twitter"></i>
                        </button>
                    </section>
                </header>

                <!-- THE TABS -->
                <section id="tabs">
                    <!-- THE FACEBOOK TAB -->
                    <section class="tab" id="facebook">
                        <h2 class="tab-heading">Facebook</h2>
                        <button class="create-switch" onclick="createLink('facebook')">Create Link</button>
                    </section>

                    <!-- THE TWITTER TAB -->
                    <section class="tab hidden" id="twitter">
                        <h2 class="tab-heading">Twitter</h2>
                        <button class="create-switch" onclick="createLink('twitter')">Create Link</button>
                    </section>
                </section>
            </div>

            <!-- THE SIDEBAR TOGGLE -->
            <button id="sidebar-toggle" onclick="toggleSidebar()">
                <i class="fa-solid fa-bars"></i>
            </button>

            <!-- THE CONTENT -->
            <main id="content">
                <h2>Content</h2>
            </main>

            <!-- THE OVERLAY -->
            <div id="overlay"></div>
            <div id="modal-create">
                <h3 id="modal-heading">Create <span id="modal-heading-app"></span> Link</h3>
                <input type="text" name="type" id="app-type" class="hidden" />
                <section id="modal-fields">
                    <input type="text" name="name" id="app-name" placeholder="App Indicator" />
                    <input type="url" name="link" id="app-link" placeholder="http(s)://(www.)example.org" />
                </section>
                <section id="modal-buttons">
                    <button id="modal-button-cancel" onclick="closeModal()">Cancel</button>
                    <button id="modal-button-create" onclick="createLink()">Create</button>
                </section>
            </div>

            <!-- THE SCRIPTS -->
            <script src="/js/home/switchTab.js"></script>
            <script src="/js/home/toggleSidebar.js"></script>
        </div>
    </body>
</html>
